
$color-primary: #f89f1f;
$color-secondary: #cccccc;
$color-tertiary: #f3e2c8;

$color-background-default: #ffffff;
$color-background-dark: #575759;

$color-button-primary: #f47621;
$color-button-secondary: #ef4423;

$color-default-button-text: #ffffff;
$color-default-footer-text: #ffffff;